*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Roboto Mono', monospace;
    
}
/* div{
    margin: 30;
    width: 40%;
    padding: 20px;
} */
/* body {
    background: rgb(21,20,27);
    overflow: hidden;
    overflow-y: scroll;
    color: wheat;
} */
